<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd 
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="configurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mail.properties</value>
			</list>
		</property>
	</bean>

    <bean
        class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
        depends-on="notifier">
        <property name="proxyTargetClass" value="true" />
    </bean>
    
	<bean id="interceptorAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="pattern">
			<value>.*loadData</value>
		</property>
		<property name="advice">
			<ref bean="interceptorAdvice" />
		</property>
	</bean>

	<bean id="interceptorAdvice" class="com.wellshang.util.notifierdemo.InterceptorAdvice">
		<property name="handler">
			<ref bean="interceptorHandler" />
		</property>
	</bean>

	<bean id="interceptorHandler" class="com.wellshang.util.notifierdemo.NotifierInterceptorHandler" />

	<bean id="notifier" class="com.wellshang.util.notifierdemo.CrosscuttingProcessor">
		<property name="advisor">
			<ref bean="interceptorAdvisor" />
		</property>
		<property name="advice">
			<ref bean="interceptorAdvice" />
		</property>
	</bean>

	<bean id="loader" class="com.wellshang.util.notifierdemo.Loader">
		<property name="notifier">
			<ref bean="notifier" />
		</property>
		<property name="pattern">
			<value>.*loadData</value>
		</property>
	</bean>
</beans>